@model IEnumerable<ECG_DB.motivos_visita>

@{
    ViewBag.Title = "Index";
}

<h2>Motivos Del Estudio</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.motivo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_creacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ultima_actualizacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usuario_ultima_actualizacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.activo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.motivo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_creacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ultima_actualizacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usuario_ultima_actualizacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.activo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.motivo_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.motivo_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.motivo_id })
        </td>
    </tr>
}

</table>
